@import "tailwindcss";

@layer utilities {
  .animate-gradient-x {
    animation: gradient-x 6s ease infinite;
  }

  .animate-spin-slow {
    animation: spin 12s linear infinite;
  }

  @keyframes gradient-x {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}